#main-aside {
    width: 48px;
    position: fixed;
    top: 0;
    left: 0;
}

#main-aside ul {
    display: flex;
    width: 100%;
    padding: 0px;
    flex-warp: wrap;
}

#main-aside ul li {
    list-style: none;
    padding: 5px 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    flex: 0 0 100%;
}
#main-aside ul li a {
    text-decoration: none;
}

.container {
    width: 680px;
    height: 320px;
    background: #f1f5f6;
    margin: 0 auto;
    position: relative;
}
.up {
    width: 64px;
    height: 64px;
    background: #fff;
    border: 10px solid #ff9900;
    box-sizing: border-box;

    position: absolute;

    top: 50%;
    left: 50%;
    margin-top: -69px;
    margin-left: -81px;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: run 4s infinite ease-out;
}
.down {
    width: 192px;
    height: 10px;
    background: #5574a6;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -81px;
}

@-webkit-keyframes run {
    0% 15% {
        -webkit-transform: translateX(0px);
    }

    15%, 25% {
        -webkit-transform: translateX(40px);
    }

    25%, 38% {
        -webkit-transform: translateX(80px);
    }

    40%, 45% {
        -webkit-transform: translateX(160px);
    }

    50%, 52% {
        transform: translateX(160px) rotateZ(20deg);
    }

    70%, 75% {
        transform: translateX(160px) rotateZ(10deg);
    }

    78% {
        transform: translateX(160px) rotateZ(24deg);
        opacity: 1;
    }

    86% ,100% {
        transform: translateX(160px) translateY(64px) rotateZ(90deg);
        opacity: 0;
    }
}

.circle {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 28px solid #7cf1ff;
    border-top-color: #ff7cf1;
    border-right-color: #ff7cf1;
    border-radius: 100%;

    -webkit-transition: border-width .2s ease-out,
                    -webkit-transform 1s ease-out;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}


.circle span {
    box-sizing: content-box;
    display: block;
    font-weight: bold;
    width: 200px;
    line-height: 200px;
    color: #25484c;
    font-size: 32px;
    text-align: center;
    -webkit-transition: color .2s ease-in,
                -webkit-transform 1s ease-out,
                font-size .2s ease-in,
                top .2s ease-out,
                left .2s ease-out;
    position: absolute;
    top: -28px;
    left: -28px;
}

.circle:hover {
    border-width: 16px;
    -webkit-transform: rotate(360deg);
}

.circle:hover span {
    color: #cc63c0;
    font-size: 48px;
    top: -16px;
    left: -16px;
    -webkit-transform: rotate(-360deg);
}

.inner .circle {
   margin: 0 auto; 
   margin-top: 40px;
   -webkit-animation-name: fadein;
   -webkit-animation-duration: 3s;
   -webkit-animation-timing-function: ease-in;
   -webkit-animation-fill-mode: forwards;
   -webkit-animation-iteration-count: 2;
   -webkit-animation-direction: alternate-reverse;
   opacity: 0;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.circle1 {
    width: 200px;
    height: 200px;
    border: 24px solid black;
    box-sizing: border-box;
    position: relative;
    border-radius: 100%;
}
.circle2 {
    width: 10em;
    height: 10em;
    border: 1em solid red;
    border-radius: 100%;
    box-sizing: border-box;
}

.circle1 span {
    display: block;
    text-align:center;
    line-height: 200px;
    width: 200px;
    position: absolute;

    font-size: 24px;

    top: -24px;
    left: -24px;
}

.circle1:hover {
    border-width: 16px;
}
.circle1:hover span {
    font-size: 32px;
    top: -16px;
    left: -16px;
}
